@import '../../assets/variables.sass'

$widthHeightRatio: 3.5
$width: clamp(1050px, 227.5vh, 2800px)
$height: clamp(300px, 65vh, 800px)

div.hero
    width: 100%
    overflow-x: scroll
    background: linear-gradient(transparent 0px, transparent 87%, $color-gray-dark 87%, $color-gray-dark)

    div.hero__topper
        margin: 0 auto
        position: sticky
        bottom: 0
        height: $height
        width: $width

        img
            position: absolute
            bottom: 0
            height: 100%
            filter: saturate(0)

            &:hover
                filter: saturate(1)

            &.BG-labeled
                left: 0
                width: $width

            &.GD-labeled
                left: calc(966 / 1470 * 100%)

            &.SE-labeled
                left: calc(1143 / 1470 * 100%)

            &.UX-labeled
                left: calc(715 / 1470 * 100%)

            &.AE-labeled
                left: calc(435 / 1470 * 100%)

            &.AD-labeled
                left: calc(58 / 1470 * 100%)

        // TODO: Does this do anything? (possibly not since link)
        @media(hover: hover) and (pointer: fine)
            img:hover
                filter: saturate(1)
