<a class="ui link card" href="{{ site.baseurl }}{{ include.url }}">
   <div class="ui left corner label">
      <i class="laptop icon"></i>
   </div>

   <div class="image">
      <img src="{{ site.baseurl }}{{ include.image }}">
   </div>

   <div class="content">
      <div class="center aligned header">
         {{ include.title }}
      </div>
      <div class="center aligned description">
         {{ include.description }}
      </div>
   </div>
   <img src="/assets/images/process/{{ include.ribbon }}-line.png" alt="{{include.ribbon}}"/>
</a>