@import 'variables.scss';

#page_body {
    width: 100%;
    display: flex;
};

/* Sidebar */
#sidebar {
    color: red;
};

/* Content */
#page_content {
    padding: 1rem;
    .ui.header {
        font-size: 2rem;
    }
}