@import 'variables.scss';

#page_body {
    width: 100%;
    display: flex;
    flex-grow: 1;
};

/* Sidebar */
#sidebar {
    color: red;
};

/* Content */
#page_content {
    flex-grow: 1;
    padding: 3rem;
    .ui.header.line {
        display: flex;
        align-items: baseline;
        justify-content: center;
        gap: 5rem;
        h1 {
            font-size: 3rem;
        }
        .sub.header {
            font-size: 2rem;
        }
    }

    p.segment { 
        font-size: 1.5rem;
        font-style: italic;
    }
}

.project-header {
    display: flex;
    gap: 2rem;
    img {
        height: 150px;
        margin-top: -1.5rem;
    }
}