.ui.raised.segment.grid-item {
    flex-direction: column;
    padding: 0;
    .image {
        display: block;
        object-fit: contain;
        border-radius: .5rem;
        max-width: 100%;
    }
    .ui.left.corner.label::after {
        border-top: 4em solid transparent;
        border-right: 4em solid transparent;
        border-bottom: 0 solid transparent;
        border-left: 0 solid transparent;
        border-top-color: transparentize($color-bonus, .2);
        i {
            color: white;
        }
    }
    .content {
        text-align: center;
        h3 {
            border-top: solid .2rem;
            border-color: transparentize($color-primary-dark, 0.9);
            padding-top: 1rem;
            margin-bottom: 0;
            color: $color-text;
            text-decoration: underline;
            text-decoration-color: $color-secondary;
        }
        p {
            color: $color-text;
            padding: 0 1rem;
        }
        .ribbon {
            align-self: flex-end;
        }
    }
}