.grid-item.card {
    flex-direction: column;
    padding: 0;
    background-color: lighten($color-background, 10%);

    .image {
        display: block;
        object-fit: contain;
        border-radius: .5rem;
        max-width: 100%;
    }

    .content {
        text-align: center;

        h3 {
            border-top: solid .2rem;
            border-color: transparentize($color-primary-dark, 0.9);
            padding-top: 1rem;
            margin: 0;
            color: $color-text;
            text-decoration: underline;
            text-decoration-color: $color-secondary;
        }

        p {
            color: $color-text;
            padding: 0 1rem;
        }

        .ribbon {
            align-self: flex-end;
        }
    }
}

.corner-tag {
    display: flex;
    align-items: baseline;
    justify-content: center;
    background-color: $color-bonus;
    padding: .5rem;
    margin: .5rem;
    clip-path: polygon(
        0 0,
        0 4rem,
        4rem 0,
        );
    i { color: white; }
}