// @import 'variables.scss';

/* card */
.ui.raised.link.cards {
    display: flex;
    // flex-flow: column wrap;
    gap: 2rem;
    justify-content: center;
    align-content: center;
    // .card:nth-child(4n):after {
    //     content: ' ';
    //     display: block;
    // }
}


.card {
    img {
        grid-area: img;
        object-fit: contain;
        max-height: 200px;
        border-radius: .5rem;
        width: 100%;
    }
    .ui.left.corner.label::after {
        border-top: 4em solid transparent;
        border-right: 4em solid transparent;
        border-bottom: 0 solid transparent;
        border-left: 0 solid transparent;
        border-top-color: $color-secondary-light;
        i {
            color: white;
        }
    }
};
