
@import 'body.scss', 'card.scss', 'footer.scss', 'header.scss', 'timeline.scss', 'variables.scss';

 /* Start initial styles */
 * {
    margin: 0;
    padding: 0;
};

.app {
    display: grid;
    height: 100vh;
    grid-template-areas: "header"
                         "body"
                         "footer";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    font-family: $font-stack;
};

h1 {
    font-family: $font-head;
    text-decoration: underline;
    text-decoration-color:$color-secondary;
    padding-bottom: .5rem;
};

h3 {
    padding-bottom: .5rem;
    font-family: $font-head;
    font-size: 1.5rem;
}
