// @mixin google-font($family) {
//     @import url("http://fonts.googleapis.com/css?family=#{$family}");
//   }
// @include google-font("Source Sans Pro");
// @include google-font("Josefin Sans");
// @include google-font("Kaushan Script");


$site-baseurl: '/frezfolio';

$font-stack: 'Source Sans Pro', sans-serif;
$font-head: 'Josefin Sans', sans-serif;
$font-subhead: 'Source Sans Pro', sans-serif;

$color-primary: #bdbdbd;
$color-primary-light: #efefef;
$color-primary-dark: #8d8d8d;
$color-secondary: #3394f4;
$color-secondary-light: #77c4ff;
$color-secondary-dark: #0067c1;
$color-bonus: #f8991d;
$color-background: #f3f3f3;

$color-text: #000000;

$mobile: 480px;
$tablet: 768px;
$laptop: 900px;
$desktop: 1200px;
$max: 1200px;

$color-blend: linear-gradient(to right,
    transparentize($color-bonus, 0.5),
    transparentize($color-secondary, 0.5),
    transparentize($color-bonus, 0.5));