@import '../../assets/variables.sass'

a.link-card
    article
        @include elevel-2
        padding: 24px
        border-radius: 8px
        background-color: $color-white

        &:hover
            @include elevel-4
