@import '../../assets/variables.sass'

section.page-section
    div.photo-trigger
        // align-self: center
        // min-width: 33%

    figure
        // @include verticalCenter
        // gap: 8px
        // margin: 0 auto
        // max-width: 600px
        // max-height: 400px

        img
            min-height: 0 // To prevent image from overflowing
            object-fit: contain

            &:hover
                cursor: pointer
                @include elevel-2

        figcaption
            cursor: default

    div.set
        @include horizontalCenter
        width: unset
        gap: 48px
        margin: 0 auto
