@import "@fontsource/josefin-sans"
@import "@fontsource/source-sans-pro"

@import './styles/layout.sass'

$font-stack: 'Source Sans Pro', sans-serif
$font-head: 'Josefin Sans', sans-serif
$font-subhead: 'Source Sans Pro', sans-serif
$font-icons: 'Material Icons'

$color-primary: #bdbdbd
$color-primary-light: #efefef
$color-primary-dark: #8d8d8d
$color-secondary: #3394f4
$color-secondary-light: #77c4ff
$color-secondary-dark: #0067c1
$color-bonus: #f8991d
$color-bonus-dark: #f28500
$color-background: #fafafa

$color-black: #000000
$color-white: #ffffff
$color-gray-dark: #333333

$color-text: #000000

$mobile: 480px
$tablet: 768px
$laptop: 900px
$desktop: 1200px
$max: 1200px

$color-blend: linear-gradient(to right, transparentize($color-bonus, 0.5), transparentize($color-secondary, 0.5))

$color-linear-background: linear-gradient(to bottom, transparentize($color-bonus, .5), $color-secondary-light)
