<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="app">

    {%- include header.html -%}

    <main id="page_body" aria-label="Content">
      {% if page.sidebar %}
        {% capture sidebar %}{{site.projects}}{% endcapture %}
        {% include sidebar.html title="sidebar stuffs" sidebar=sidebar %}
      {% endif %}
      {% if page.content %}
      <div id="page_content">
        {{ content }}
      {% endif %}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
