---
layout: default
---
{% assign it_step = page.process | split: "," | last | strip %}

<div class="project-header">
    <img src="/assets/images/process/{{it_step}}.png" alt="{{it_step}}"/>
    <div>
        <h1>{{page.title}}</h1>
        <p>{{page.description}}<p>
    </div>
</div>

<p>{{ page.content }}</p>


<div class="masonry-grid" markdown="1">
    {% for image in site.data.animals %}
        <figure class="grid-item">
            <img src="{{ page.imageurl }}{{ image.src }}.png" alt="{{ image.alt }}">
            <figcaption>{{ image.alt }}</figcaption>
        </figure>
    {% endfor %}


</div>