---
layout: default
---
{% assign it_step = page.process | split: "," | last | strip %}

<div class="project-header">
    {% comment %} <img src="/assets/images/process/{{it_step}}.png" alt="{{it_step}}"/> {% endcomment %}
    <h1>{{page.title}}</h1>
    <h2>{{page.description}}</h2>
</div>

<hr/>

<p>{{ page.content }}</p>


<div class="masonry-grid" markdown="1">
    {% for image in site.data.animals %}
        <figure class="grid-item">
            <img src="{{ page.imageurl }}{{ image.src }}.png" alt="{{ image.alt }}">
            <figcaption>{{ image.alt }}</figcaption>
        </figure>
    {% endfor %}
</div>