@import './assets/variables.sass'

div.app div.container
    @include verticalStart
    gap: 0

    width: clamp(320px, 100vw, $max)
    min-height: 100vh
    height: 100%
    margin: 0 auto
    background-color: $color-background

    main
        flex-grow: 1
        padding: 48px 48px 24px 48px
        @include verticalStart
        gap: 48px

        p.info
            margin: 0 auto
            width: clamp(320px, 100%, 900px)
            text-align: center
