@import './assets/variables.sass'
@import './assets/reset.sass'

html
    margin: 0
    padding: 0
    background-color: #ffffff
    background-image: url('/images/stressed-linen.png')
    font-family: $font-stack
    overflow-y: auto
    overflow-x: hidden
    width: 100vw
    height: 100vh
    overflow-wrap: break-word

body
    margin: 0
    padding: 0

div#root
    width: 100vw
    height: 100vh
    overflow-y: auto
    overflow-x: hidden

p, ul, li
    font-size: 1.25rem
    line-height: 1.5rem

a
    text-decoration: none
    color: unset

.material-icons
    font-family: $font-icons
    font-weight: normal
    font-style: normal
    font-size: 24px // Preferred icon size
    display: inline-block
    line-height: 1
    text-transform: none
    letter-spacing: normal
    word-wrap: normal
    white-space: nowrap
    direction: ltr

    -webkit-font-smoothing: antialiased
    text-rendering: optimizeLegibility
    -moz-osx-font-smoothing: grayscale
    font-feature-settings: 'liga'
