@import '../../assets/variables.sass'

div.logo-link
    a
        svg
            height: 52px
            fill: $color-gray-dark

            @media (max-width: $laptop)
                height: 36px

        &:hover svg
            fill: $color-bonus-dark
